//
   Created by kozik on 15.06.2016.
mixin requiredInput(label, name, model, requiredHint, ngChange, type)
    md-input-container(class="md-block" flex-xs)
        input(ng-required="true" type=type name=name ng-model=model ng-change=ngChange placeholder=label)

div(class="mui-container register-holder" ng-controller="register" ng-cloak)
    span(class="register-pane-space")
    div(class="mui-panel register-pane")
        div
            img(src="./img/logo.png")
        p(class="mui--text-body1 mui--text-dark-secondary") Welcome to RITCHY Group Ltd.<br> B2B online portal.
        div
            h2(class="md-display-1") Registration
        md-content(md-theme="default" layout-gt-sm="row" layout-padding)
            div
                +requiredInput("Name", "name", "user.name", "", "user.changed()")
                +requiredInput("Company name", "company", "user.company", "", "user.changed()")
                md-input-container(class="md-block" flex-xs)
                    label Country
                    md-select(ng-init="isRequired = true;" ng-required="isRequired" required ng-model="user.country")
                        md-option(ng-repeat="country in countryList.list" value="{{country.code}}") {{country.name}}
                +requiredInput("Email", "email", "user.email", "", "user.changed()")
                +requiredInput("Password", "password", "user.password", "", "user.changed()", "password")
        div
            md-button(id="btn_create_account" class="md-raised md-primary" ng-disabled="!user.canRegister" ng-click="user.doRegister") CREATE ACCOUNT
